.u-section-1 {
    background-image: none;
}

.u-section-1 .u-sheet-1 {
    min-height: 400px;
    margin-bottom: 150px;
}
#sec-8c3e{
    padding-bottom: 50px;
}

/* cited by https://chinese.freecodecamp.org/forum/t/topic/292 */
.u-section-1 .u-btn-2 {
    background: transparent;
    color: rgb(10, 144, 189);
    border: 10px solid rgb(10, 144, 189);
    border-radius: 8px;
    border: none;
    color: #ccc;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.u-section-1 .u-btn-2 {
    background-color: white;
    color: black;
    text-align: center;
    margin: 40px auto;
    border: 2px solid rgb(10, 144, 189);
}
.u-section-1 .u-btn-2:hover {
    background-color: rgb(10, 144, 189);
    color: white;
}

#pdf-container {
    width: 60%; /* 设置宽度 */
    margin: 0 auto; /* 居中 */
    padding: 20px; /* 设置内边距 */
    border: 1px solid #ede1e1; /* 设置边框 */
}

.pdf-position {
    bottom: 0%;
    width: max-content;
    border: 1px solid #dfd9d9; /* 设置边框 */
}

/* pdf内容部分 */
.pdf-module {
    width: 595px;
}

.form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 100px;
}

.form-button-box {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-csv-box {
    position: relative;
    margin-left: 100px;
}

.upload-csv-box input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.common-button {
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border: 2px solid rgb(10, 144, 189);
    cursor: pointer;
}

.first-title {
    font-size: 32px;
    font-weight: 600;
}

.page-one-end {
    margin-top: 550px;
}


.pdf-box > div {
    margin-bottom: 10px;
}

.common-type-one {
    display: flex;
}

.common-type-one > div {
    margin-right: 40px;
}

.third-title {
    font-size: 20px;
    font-weight: 600;
}

.common-echarts {
    width: 280px;
    height: 280px;
    margin-top: -85px;
}

.map-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.margin-top-eacharts {
    margin-top: 50px;
}

.margin-bottom-eacharts {
    margin-bottom: 100px;
}

.page{
    height: 864px;
    position: relative;
    margin-bottom: 0 !important;

}
.echarts-top{
    margin-top: -40px;
}
.echarts-bottom{
    margin-bottom: -40px;
}
.page-end{
    position:absolute;
    bottom: 0px;
}
